input{
  margin: 10px;
  padding-left: 20px ;
  background-color: aqua;
  border-radius: 10px;
  border: 2px solid black;
}

.box{
  width: 200px;
  height: 200px;
  background-color: coral;
  margin: auto;
  border-radius: 20px;
};

.page1{
  width: 100%;
  height: 100vh;
  background-color: lightgrey;
}

.page2{
  width: 100%;
  height: 100vh;
  background-color: red;
}
.page3{
  width: 100%;
  height: 100vh;
  background-color: lightblue;
}